<!DOCTYPE html>
{% load static %}
<head>
<meta charset="utf-8">
<style>

.links line {
  stroke-width: 3px;
  stroke-opacity: 80%;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font-family: sans-serif;
  font-size: 10px;
}




#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 5px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px 50px 8px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
    background-color: #dddddd;
    color: #333333;


}


#myInput:focus {outline: 3px solid #ddd;}

#containerforscroll{ border:2px solid #ccc; width:300px; height: 300px; overflow-y: scroll;}




</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js">
    </script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
     <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


</head>


<body style="background-color: #F7F7F7">

<nav class="navbar sticky-top navbar-expand-sm navbar-light" style="background-color: #1d3557;">
    <div class="container-fluid" style="text-align: center">
 <a class="navbar-brand text-white mx-auto" href="#" style="text-align: center">GitHub</a>
     </div>

    </div>

</nav>


<div class="container">


{##DropDown#}
 <div class="row">
    <div class="col-3">
    </div>
<div class="col-6">
<div class="dropdown" style="margin: auto" >
  <button id="dropdownMenuButton2" onclick="myFunction()" class="btn btn-secondary dropdown-toggle" style="width: 600px;text-align: center">Dropdown</button>

        <ul class="dropdown-menu dropdown-menu-dark"  id="myDropdown" aria-labelledby="dropdownMenuButton2" style="text-align: center">
            <input  type="text" class = "dropdown-item" placeholder="Search.." id="myInput" onkeyup="filterFunction()">




            <div id="containerforscroll" style="width: 600px; text-align: left">


            {% for i in Labels %}
                <a class="mysort">
            <div class="dropdown-item">

             <input class="form-check-input" type="checkbox" style="padding: 10px" id ={{ i }} value={{ i }} >
            <label class="form-check-label"  for={{ i }}>
                {{ i }}
            </label>
            </div></a>
            {% endfor %}
            </div>
            <p>Start Date: <input type="text" id="datepicker" style="width: 500px"></p>
            <p>End Date: <input type="text" id="datepicker2" style="width: 500px"></p>

            <li style="background-color: #dddddd"><a  type="submit" class="dropdown-item" value="Confirm" onclick="labelsend()" style="color: #333333;">Submit</a></li>



{#    <li><a class="dropdown-item" href="#">Another action</a></li>#}
{#    <li><a class="dropdown-item" href="#">Something else here</a></li>#}
  </ul>
{#  </div>#}
</div></div>

 <div class="col-3">
    </div>

 </div>


<script>


    //Datepicker
    start_date = "1885-01-01"
    end_date = "2080-01-01"
    $( function() {
    $( "#datepicker" ).datepicker({ dateFormat: "yy-mm-dd" });
    $("#datepicker").on("change",function(){
        start_date = $(this).val();
        //console.log(start_date);
        d3.select("#svg1 g").remove();
        d3.select("#svg1 path").remove();

        updateLine();

        d3.select("#svgbar g").remove();
        d3.select("#svgbar path").remove();
        updateBar();
    });
    $( "#datepicker2" ).datepicker({ dateFormat: "yy-mm-dd" });
    $("#datepicker2").on("change",function(){
        end_date = $(this).val();
        //console.log(start_date);
        d3.select("#svg1 g").remove();
        d3.select("#svg1 path").remove();

        updateLine();

        d3.select("#svgbar g").remove();
        d3.select("#svgbar path").remove();
        updateBar();
    });


  } );
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
  var input, filter, ul, li, a, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  div = document.getElementById("myDropdown");
  a = div.getElementsByClassName("mysort");
  //a= div.getElementsByClassName("dropdown-item")
  for (i = 0; i < a.length; i++) {
    txtValue = a[i].textContent || a[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      a[i].style.display = "";
    } else {
      a[i].style.display = "none";

    }
  }
}
let elem = [...document.querySelectorAll('.form-check-input')]
elem.forEach(item => item.addEventListener('change', getChecked))

function getChecked() {
  getChex = elem.filter(item => item.checked).map(item => item.value)
  //console.log(getChex)
}
var srca = '{% static 'git/issue_pull_org.csv' %}';
var baraddress = '{% static 'git/commentboard.csv' %}';
window.onload = function() {


updateBar();
updateLine();

};

function labelsend(){
    console.log(getChex)
    document.getElementById("myDropdown").classList.toggle("show");
    let tempvar = getChex.toString();
    $.ajax({
                              type: "POST",
                              url:"{% url 'labelsort' %}",
                              data:{  csrfmiddlewaretoken: '{{ csrf_token }}',
                                  labels: tempvar}
                            }).done(function(){
                                d3.select("#svg1 g").remove();
                                d3.select("#svg1 path").remove();
                                d3.select("#svgbar g").remove();
                                d3.select("#svgbar path").remove();
                                baraddress = '{% static 'git/commentboard_copy.csv' %}'
                                updateBar();


                                srca = '{% static 'git/issue_pull_temp.csv' %}'
                                updateLine()
       //$('#my_dataviz').hide()







    })
}
</script>

<p>&nbsp;</p>
{#LineChart#}

<h4 id = "testm">hello bello</h4>

 <div class="shadow-lg p-3 mb-5 bg-body rounded" >
     <p>&nbsp;</p>
<svg id = "svg1" width="1200" height="450" style="border: black"  ></svg>
</div>

<div id="my_dataviz" style="border: black">

    {% csrf_token %}

    <script>

         $( "#testm" ).hide( 0 )
         var SelectedDate = 0

        // set the dimensions and margins of the graph
        var margin = {top: 10, right: 30, bottom: 30, left: 60},
            // width = 460 - margin.left - margin.right,
            width1 = 1000,
            height1 = 400 - margin.top - margin.bottom;

         // append the svg object to the body of the page
         function updateLine(){

        var svg1 = d3.select("#svg1")
            .append("svg")
            .attr("width", width1 + margin.left + margin.right)
            .attr("height", height1 + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

        // var svg1 = d3.select("#svg1").selectAll("*"),
        //     width = "1200",
        //     height = "1000";
        parseTime = d3.timeParse("%m/%d/%Y");

        const startd = parseTime('05-23-20');
        const endd = new Date('2019-01-01');
        var tooltip = d3.select('body').append("div").style("position","absolute").style("opacity",0);
        //Read the data
{#{% static 'git/issue_pull.csv' %}#}
        //console.log(d1 == d2);

        d3.csv(
             srca
            ,

            // When reading the csv, I must format variables:
            function(d){
                {#console.log(endd<=d3.timeParse("%m/%d/%Y")(d.date))#}
                {#console.log(d3.timeParse("%Y-%m-%d")(d.date))#}
                {#console.log((d.date))#}
                {#console.log((start_date))#}
                {#console.log(d3.timeParse("%Y-%m-%d")(start_date))#}
                {#console.log((start_date))#}

                console.log((d.scaled))
            if (d3.timeParse("%Y-%m-%d")(start_date)<=d3.timeParse("%Y-%m-%d")(d.date)&& d3.timeParse("%Y-%m-%d")(d.date)<=d3.timeParse("%Y-%m-%d")(end_date)){
                return { date : d3.timeParse("%Y-%m-%d")(d.date),
                    value : d.Total_issue,
                    rvalue:d.scaled,
                    pull : d.Total_pull,
                    cf: d.changed_files}}
            },




            // Now I can use this dataset:
            function(data) {
            console.log(data)



                // Add X axis --> it is a date format
                var x = d3.scaleTime()
                    .domain(d3.extent(data, function(d) { return d.date; }))
                    .range([ 0, width1 ]);
                svg1.append("g")
                    .attr("transform", "translate(0," + height1 + ")")
                    .call(d3.axisBottom(x));

                // Add Y axis
                var y = d3.scaleLinear()
                    .domain([0, d3.max(data, function(d) { return +d.value; })])
                    .range([ height1, 0 ]);
                svg1.append("g")
                    .call(d3.axisLeft(y));


                // // Add Y1 axis for pull
                // var z1 = d3.scaleLinear()
                //     .domain([0, d3.max(data, function(d) { return +d.pull; })])
                //     .range([ height1, 0 ]);
                // svg1.append("g")
                //     .call(d3.axisLeft(z1));

                //addcircle for pull
                var currentp = 0

                var selectCircle = svg1.selectAll(".circle")
                    .data(data)

                selectCircle.enter().append("circle")
                    .attr("r", function(d) { return d.cf*.018 })
                    .attr("cx", function(d) { return x(d.date) })
                    .attr("cy", function(d) { return y(d.pull) })
                    .attr("fill", "steelblue")
                    .on("mousemove",function(d){
                        this.style.fill="red"
                        tooltip.style("opacity",1)
                            .style("left",d3.event.pageX+"px")
                            .style("top",d3.event.pageY+10+"px")
                        .style("font-weight","bold");
                        tooltip.html(Number(d.cf).toFixed(0)+" Files Changed");
                        })
                     .on("mouseout",function(){
                         tooltip.style("opacity",0)
                        this.style.fill="steelblue"})

                .on("click",
                    function(d){
                        $.ajax({
                              type: "POST",
                              url: "{% url 'pullclick' %}",
                              data:{  csrfmiddlewaretoken: '{{ csrf_token }}',
                                  date: moment(Date.parse(d.date)).format("YYYY-MM-DD")}
                            }).done(function( o ) {
                                //const d1 = new Date(d.date);
                                //console.log(Date.parse(d.date))
                                //moment(d.date, "MM-DD-YYY")
                            var normalp = moment(Date.parse(d.date)).format("MM-DD-YYYY")

                                {#console.log(moment(Date.parse(d.date)).format("MM-DD-YYYY"))#}
                            if (currentp !=normalp){
                            updatetablepull()
                            $("#tableforpull").hide("slow")
                            $("#tableforpull").show("slow")}
                            else{
                                $("#tableforpull").hide("slow")
                            }
                            currentp = normalp

                            })
                        $("#tableforpull").load(location.href + " #tableforpull");
                        $("#tablescript2").load(location.href + " #tablescript2");

                        } )


                // Add circle for issue
                var current = 0
                var selectCircle1 = svg1.selectAll(".circle")
                    .data(data)

                selectCircle.enter().append("circle")
                    .attr("r", function(d) { return d.rvalue*9 })
                    .attr("cx", function(d) { return x(d.date) })
                    .attr("cy", function(d) { return y(d.value) })
                    .on("mousemove",function(d){
                        this.style.fill="red"
                        tooltip.style("opacity",1)
                            .style("left",d3.event.pageX+"px")
                            .style("top",d3.event.pageY+10+"px")
                        .style("font-weight","bold");
                        tooltip.html(Number(d.rvalue*100).toFixed(2)+" %");
                        })
                     .on("mouseout",function(){
                         tooltip.style("opacity",0)
                        this.style.fill="black"})


                    .on("click",
                    function(d){
                        $.ajax({
                              type: "POST",
                              url:  "",
                              data:{  csrfmiddlewaretoken: '{{ csrf_token }}',
                                  date: moment(Date.parse(d.date)).format("YYYY-MM-DD")}
                            }).done(function( o ) {
                                //const d1 = new Date(d.date);
                                //console.log(Date.parse(d.date))
                                //moment(d.date, "MM-DD-YYYY")
                            var normal = moment(Date.parse(d.date)).format("MM-DD-YYYY")

                                {#console.log(moment(Date.parse(d.date)).format("MM-DD-YYYY"))#}
                            if (current !=normal){
                            updatetable()
                            $("#mytable").hide("slow")
                            $("#mytable").show("slow")}
                            else{
                                $("#mytable").hide("slow")
                            }
                            current = normal

                            });





                        $( "#testm" ).text(d.date)
                        SelectedDate = d.date


                        $( "#testm" ).show( "slow" )
                         {#$( "#mytable" ).show( "slow" )#}
                        setTimeout(() => {  console.log("World!"); }, 5000);

                        $("#mytable").load(location.href + " #mytable");
                        $("#tablescript").load(location.href + " #tablescript");






                    } )



                // Add the line
                svg1.append("path")
                    .datum(data)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .x(function(d) { if(d.date>endd){return x(d.date) }})
                        .y(function(d) { if(d.date>endd){return y(d.value) }})

                    )

                // Add the line for pull
                svg1.append("path")
                    .datum(data)
                    .attr("fill", "none")
                    .attr("stroke", "red")
                    .attr("stroke-width", 1.5)
                    .attr("d", d3.line()
                        .x(function(d) { if(d.date>endd){return x(d.date) }})
                        .y(function(d) { if(d.date>endd){return y(d.pull) }})

                    )




             })}

    </script>
</div>


{#Table#}

<div class="container text-center">
  <div class="row">
    <div class="col">

        <div id="mytable">
<h5 id = "svgtable" width="1260" height="450" style="border: black"  ></h5>
<script id = "tablescript">


    var tabulate = function (data,columns) {
  var table = d3.select('#svgtable').append('table')
	var thead = table.append('thead')
	var tbody = table.append('tbody')

	thead.append('tr')
	  .selectAll('th')
	    .data(columns)
	    .enter()
	  .append('th')
	    .text(function (d) { return d })

	var rows = tbody.selectAll('tr')
	    .data(data)
	    .enter()
	  .append('tr')

	var cells = rows.selectAll('td')
	    .data(function(row) {
	    	return columns.map(function (column) {
	    		return { column: column, value: row[column] }
	      })
      })
      .enter()
    .append('td')
      .text(function (d) { return d.value })


  return table;
}
function updatetable(){
d3.csv('{% static 'git/temp.csv' %}',function (data) {


	var columns = ['id','Labels',"Closed At","Importance Type"]
  tabulate(data,columns)
})}

</script>
</div>
    </div>
    <div class="col">
      <div id="tableforpull">
<h4 id = "tableforpull" width="1260" height="450" style="border: black"  ></h4>
<script id = "tablescript2">

    var tabulate2 = function (data,columns) {
  var table2 = d3.select('#tableforpull').append('table')
	var thead = table2.append('thead')
	var tbody = table2.append('tbody')

	thead.append('tr')
	  .selectAll('th')
	    .data(columns)
	    .enter()
	  .append('th')
	    .text(function (d) {

	        return d })

	var rows = tbody.selectAll('tr')
	    .data(data)
	    .enter()
	  .append('tr')

	var cells = rows.selectAll('td')
	    .data(function(row) {
	    	return columns.map(function (column) {

	    		return { column: column, value: row[column] }
	      })
      })
      .enter()
    .append('td')
      .text(function (d) {
          return d.value })

  return table2;
}
function updatetablepull(){
d3.csv('{% static 'git/pulltable.csv' %}',function (data) {


	var columns = ['Pull ID','Code Changes']
  tabulate2(data,columns)
})}

</script>
</div>
    </div>
  </div>
</div>





{#BarChart#}

<div id="histviz" class="col-12 ">
    <div class="shadow-lg p-3 mb-5 bg-body rounded">

    <svg id = "svgbar" width="1100" height="450" style="border: black; max-width: fit-content; width: 1600px"  ></svg>
        </div>
    <script>
        var currentc = 0
        function updateBar(){

        var svg3 = d3.select("#svgbar"),
            margin4 = {top: 10, right: 30, bottom: 30, left: 60},
            width4 = +svg3.attr("width") - margin4.left - margin4.right,
            height4 = +svg3.attr("height") - margin.top - margin4.bottom,
            g = svg3.append("g").attr("transform", "translate(" + margin4.left + "," + margin4.top + ")");

        var x = d3.scaleBand()
            .rangeRound([0, width4])
            .paddingInner(0.05)
            .align(0.5);

        var y = d3.scaleLinear()
            .rangeRound([height4, 0]);

        var z = d3.scaleOrdinal()
            .range(["#7b6888" ,  "#8a89a6","#98abc5" ]);

        var xtime = d3.scaleBand()
            .rangeRound([0, width4]);






        d3.csv(baraddress,


            function(d, i, columns) {

            if (d3.timeParse("%Y-%m-%d")(start_date)<=d3.timeParse("%m/%d/%Y")(d.time) && d3.timeParse("%m/%d/%Y")(d.time) <=d3.timeParse("%Y-%m-%d")(end_date)){
            for (i = 1, t = 0; i < columns.length; ++i) t += d[columns[i]] = +d[columns[i]];

            d.total = t;
            //d.time= d.time;
            console.log("barchart")
            console.log(d3.timeParse("%Y-%m-%d")(start_date))
            console.log((d.time))

            return d;
        }}, function(error, data) {
            if (error) throw error;



            var keys = data.columns.slice(1);
            //console.log(keys)

            //data.sort(function(a, b) { return b.total - a.total; });
            x.domain(data.map(function(d) {
                //console.log(d.time)
                return d.time; }));

            xtime.domain(data.map(function(d) {
                //console.log(d3.timeParse("%m/%d/%Y")(d.time))

                return d3.timeParse("%m/%d/%Y")(d.time); }));
            y.domain([0, d3.max(data, function(d) { return d.total; })]).nice();
            z.domain(keys);
            //console.log(d3.stack().keys(keys)(data));

            g.append("g")
                .selectAll("g")
                .data(

                    d3.stack().keys(keys)(data))
                .enter().append("g")
                .attr("fill", function(d) { return z(d.key); })
                .selectAll("rect")
                .data(function(d) { return d; })
                .enter().append("rect")
                .attr("x", function(d) {
                    return x(d.data.time); })
                .attr("y", function(d) {return y(d[1]); })
                .attr("height", function(d) {
                    //console.log(y(d[0]) - y(d[1]))
                    return y(d[0]) - y(d[1]); })
                .attr("width", x.bandwidth())
            .on("click",
                    function(d){
                       {#console.log(moment(Date.parse(d.data.time)).format("YYYY-MM-DD"))#}
                        $.ajax({
                              type: "POST",
                              url: "{% url 'commentcat' %}",
                              data:{  csrfmiddlewaretoken: '{{ csrf_token }}',
                                  date: moment(Date.parse(d.data.time)).format("YYYY-MM-DD")}
                            })
                            .done(function( o ) {
                                //const d1 = new Date(d.date);
                                //console.log(Date.parse(d.date))
                                //moment(d.date, "MM-DD-YYY")

                            var normalc = moment(Date.parse(d.data.time)).format("MM-DD-YYYY")

                                {#console.log(moment(Date.parse(d.data.time)).format("MM-DD-YYYY"))#}
                            if (currentc !=normalc){
                            updatetablecomm();
                            $("#tableforcomm").hide("slow")
                            $("#tableforcomm").show("slow")}
                            else{
                                $("#tableforcomm").hide("slow")
                            }
                            currentc = normalc

                            })
                        $("#tableforcomm").load(location.href + " #tableforcomm");
                        $("#tablescript3").load(location.href + " #tablescript3");

                        }
                        );


            g.append("g")
                .attr("class", "axis")

                .attr("transform", "translate(0," + (height4) + ")")
                .call(d3.axisBottom(xtime).tickFormat(d3.timeFormat("%m-%y")).ticks(d3.timeMonth.every(3)));

            g.append("g")
                .attr("class", "axis")
                .call(d3.axisLeft(y).ticks(null, "s"))
                .append("text")
                .attr("x", 2)
                .attr("y", y(y.ticks().pop()) + 0.5)
                .attr("dy", "0.32em")
                .attr("fill", "#000")
                .attr("font-weight", "bold")
                .attr("text-anchor", "start")
                .attr("fill","black")
                .text("");

            var legend = g.append("g")
                .attr("font-family", "sans-serif")
                .attr("font-size", 10)
                .attr("text-anchor", "end")
                .selectAll("g")
                .data(keys.slice().reverse())
                .enter().append("g")
                .attr("fill","black")
                .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

            legend.append("rect")
                .attr("x", width4 - 19)
                .attr("width", 19)
                .attr("height", 19)
                .attr("fill", z);

            legend.append("text")
                .attr("x", width4 - 24)
                .attr("y", 9.5)
                .attr("dy", "0.32em")
                .text(function(d) { return d; });

        });}

    </script>
</div>

 <div id="tableforcomm">
<h4 id = "tableforcomm" width="1260" height="450" style="border: black"  ></h4>
<script id = "tablescript3">

    var tabulate3 = function (data,columns) {
  var table3 = d3.select('#tableforcomm').append('table')
	var thead = table3.append('thead')
	var tbody = table3.append('tbody')

	thead.append('tr')
	  .selectAll('th')
	    .data(columns)
	    .enter()
	  .append('th')
	    .text(function (d) {

	        return d })

	var rows = tbody.selectAll('tr')
	    .data(data)
	    .enter()
	  .append('tr')

	var cells = rows.selectAll('td')
	    .data(function(row) {
	    	return columns.map(function (column) {

	    		return { column: column, value: row[column] }
	      })
      })
      .enter()
    .append('td')
      .text(function (d) {
          return d.value })

  return table3;
}
function updatetablecomm(){
d3.csv('{% static 'git/user_catcopy.csv' %}',function (data) {


	var columns = ['username','category']
  tabulate3(data,columns)
})}

</script>
</div>





<div id="my_dataviz2" >
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        <svg id = "mysvg" width="1100" height="600"  ></svg></div>
    <script>

        var svg = d3.select("#mysvg"),
                // .call(d3.zoom().on("zoom", function () {
                //     svg.attr("transform", d3.event.transform)
                // }))
            width = "1100",
            height = "700";

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function(d) { return d.id; })
                .distance(80))
            .force("charge", d3.forceManyBody().strength(-90))
            .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("{% static 'git/sample.json' %}", function(error, graph) {
            if (error) throw error;

            var link = svg.append("g")
                .attr("class", "links")
                .selectAll("line")
                .data(graph.links)
                .enter().append("line")
                .attr("stroke-width", function(d) { return Math.sqrt(d.value); })
                .attr("stroke",
                    function(d){
                    {#color(d.relation)#}

                    var rel = d.relation

                    if(rel==2){



                        return '#999999'}
                    else if (rel==3){



                        return '#BB2302'}



                    }
                    );

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("g")
                .data(graph.nodes)
                .enter().append("g")

            var circles = node.append("circle")
                .attr("r", 6)
                .attr("fill", function(d) { return color(d.group); });

            // Create a drag handler and append it to the node object instead
            var drag_handler = d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended);

            drag_handler(node);

            var lables = node.append("text")
                .text(function(d) {
                    return d.id;
                })
                .attr('x', 6)
                .attr('y', 3);

            node.append("title")
                .text(function(d) { return d.id; });

            simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(graph.links);
            // var force = d3.layout.force()
            //     .linkDistance(function(d) {
            //         return(800);
            //     })

            function ticked() {
                link
                    .attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

                node
                    .attr("transform", function(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    })
            }
        });

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }
        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            //d.fx = nodeFixX(d); // snap to its target position
            d.fx = null; // or let the force figure it out
            d.fy = null;
        }

    </script>
</div>




</div>
</body>